<div class='content'>
    <div class='marque'>
        <h1 id="marqueTitle">Space Gem</h1>
        <h1 id="marqueTitle">The Economics Empire</h1>
        </br>
        <p id="marqueText">
            Decades of power struggles and space pirate attacks <br/><br/>
            have left your planet impoverished and weak.<br/><br/>
            What was once the greatest trading hub in the entire<br/><br/>
            galactic sector is now but a hub of rogues and outlaws.<br/><br/>

            As the newly-appointed governor,  it is up to you to<br/><br/>
            turn the tides! Build your empire, form alliances,<br/><br/>
            and restore your planet to its former glory!<br/><br/>

            Rise up to the challenge and master your economic<br/><br/>
            concepts to ensure the survival of your planet...<br/><br/>
            <br/><br/>
        </p>
    </div>

    <div class='login center'>
        <a id="loginButton" href="{{loginUrl}}" class="white" data-icon=")"> Login with Google.</a>
    </div>

</div>

<ng:include src="'/app/partials/analytics.html'"></ng:include>