<div class='menubar'>
    <div id='title'>
        <a class="white" href="#/game">Space Gem</a>
    </div>
    <div id='beta'>
        BETA
    </div>
    <div class='buttons'>
        <a class="iconfix" ng:href="{{logoutUrl}}" data-icon='('></a>
    </div>
    <div class='buttons'>
        <a class="iconfix" href='#/shop' data-icon='$'></a>
    </div>
    <div class='buttons'>
        <a class="iconfix" href='#/question/manageqn' data-icon='x'></a>
    </div>
    <div class='buttons'>
        <a class="iconfix" href='#/ranking' data-icon='n'></a>
    </div>
    <div class='buttons'>
        <a class="iconfix" href='#/share' data-icon='k'></a>
    </div>
</div>