<ng:include src="'/app/partials/menu.html'"></ng:include>

<div class='blackbox'>
    <div class='ranking'>
        <a href="#/game" class="white close" href="" data-icon='D'></a>
        <h4 class='center' data-icon=','></h4>
             <table>
				 <tr>
                    <th>
                        Player name
                    </th>
                    <th>
                        Gems
                    </th>
                 </tr>
                 <tr ng:repeat="player in ranking">
                    <td>{{player.email}}</td>
                    <td>{{player.gem}}</td>
                 </tr>
            </table>
    </div>
</div>

<ng:include src="'/app/partials/analytics.html'"></ng:include>