<ng:include src="'/app/partials/menu.html'"></ng:include>

<div class="blackbox">
    <div class='moves'>
        <a href="#/game" class="white close2" href="" data-icon='D'></a>
        <h1 class="center">Share the love!</h1>
        <br/>
        <a id='shareButton' class="center" href="" ng:click="share()">
            <h4 class="center white" data-icon='k'></h4>
            <h2 class="center white">Every share entitles you 3 moves!</h2>
        </a>
    </div>
</div>

<ng:include src="'/app/partials/analytics.html'"></ng:include>